body{
	font-family: baskerville;
}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
}
img{
	width: 60%;
}
.container-fluid1{
	background-color: yellow;
}
.container-fluid1 h4{
	font-style: italic;
}
.container-fluid3{
	background-color: #42434c;
	color: white;
}
.center{
	text-align: center;
}